n8n/crowdsec-alert-enrichment.json
{
  "name": "CrowdSec SOAR — Alert Enrichment",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crowdsec-alerts",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 300],
      "id": "cs-webhook",
      "name": "CrowdSec Webhook",
      "webhookId": "crowdsec-alerts"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "firing",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "firing",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Firing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "resolved",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "resolved",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Resolved"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [300, 300],
      "id": "cs-status-switch",
      "name": "Alert Status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "OPENSEARCH_URL/crowdsec-events-*/_search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"size\": 0,\n  \"query\": {\n    \"bool\": {\n      \"must\": [\n        { \"range\": { \"@timestamp\": { \"gte\": \"now-1h\" } } },\n        { \"query_string\": { \"query\": \"message:\\\"ban on Ip\\\"\" } }\n      ]\n    }\n  },\n  \"aggs\": {\n    \"banned_ips\": {\n      \"terms\": { \"field\": \"message.keyword\", \"size\": 10 }\n    },\n    \"by_program\": {\n      \"terms\": { \"field\": \"program.keyword\", \"size\": 5 }\n    },\n    \"by_source\": {\n      \"terms\": { \"field\": \"source_host.keyword\", \"size\": 5 }\n    }\n  }\n}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 200],
      "id": "cs-opensearch-query",
      "name": "Query OpenSearch Bans"
    },
    {
      "parameters": {
        "jsCode": "// Extract enrichment data from OpenSearch response\nconst osData = $input.first().json;\nconst grafanaAlert = $('CrowdSec Webhook').first().json.body;\nconst alert = (grafanaAlert.alerts || [{}])[0];\n\n// Parse aggregation results\nconst totalBans = osData.hits?.total?.value || 0;\nconst bannedIps = (osData.aggregations?.banned_ips?.buckets || [])\n  .map(b => {\n    // Extract IP from ban message like \"ban on Ip 1.2.3.4\"\n    const match = b.key.match(/ban on Ip\\s+([\\d.]+)/);\n    return match ? `\\`${match[1]}\\` (${b.doc_count}x)` : `${b.key.slice(0, 40)} (${b.doc_count}x)`;\n  })\n  .slice(0, 8)\n  .join('\\n') || 'None in last hour';\n\nconst programs = (osData.aggregations?.by_program?.buckets || [])\n  .map(b => `${b.key}: ${b.doc_count}`)\n  .join(', ') || 'N/A';\n\nconst sources = (osData.aggregations?.by_source?.buckets || [])\n  .map(b => `${b.key}: ${b.doc_count}`)\n  .join(', ') || 'N/A';\n\nreturn [{\n  json: {\n    alertName: alert.labels?.alertname || 'CrowdSec Alert',\n    severity: alert.labels?.severity || 'warning',\n    summary: alert.annotations?.summary || 'CrowdSec ban decision surge detected',\n    description: alert.annotations?.description || '',\n    startsAt: alert.startsAt || new Date().toISOString(),\n    dashboardURL: alert.dashboardURL || '',\n    panelURL: alert.panelURL || '',\n    totalBans,\n    bannedIps,\n    programs,\n    sources,\n    labels: alert.labels || {}\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200],
      "id": "cs-enrich",
      "name": "Enrich Alert Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"<@YOUR_DISCORD_USER_ID>\",\n  \"embeds\": [\n    {\n      \"title\": \"🛡️ CrowdSec — {{ $json.alertName }}\",\n      \"description\": \"{{ $json.summary }}\",\n      \"color\": 15105570,\n      \"fields\": [\n        {\n          \"name\": \"Severity\",\n          \"value\": \"{{ $json.severity }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Total Bans (1h)\",\n          \"value\": \"{{ $json.totalBans }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Programs Active\",\n          \"value\": \"{{ $json.programs }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Recent Banned IPs\",\n          \"value\": \"{{ $json.bannedIps }}\",\n          \"inline\": false\n        },\n        {\n          \"name\": \"Source Hosts\",\n          \"value\": \"{{ $json.sources }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Started At\",\n          \"value\": \"{{ $json.startsAt }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Details\",\n          \"value\": \"{{ ($json.description || 'N/A').slice(0, 900) }}\",\n          \"inline\": false\n        },\n        {\n          \"name\": \"Dashboard\",\n          \"value\": \"{{ $json.dashboardURL || 'N/A' }}\",\n          \"inline\": false\n        }\n      ],\n      \"timestamp\": \"{{ $json.startsAt }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 200],
      "id": "cs-discord-firing",
      "name": "Discord — CrowdSec Firing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [\n    {\n      \"title\": \"✅ CrowdSec RESOLVED — {{ ($json.body.alerts || [{}])[0].labels?.alertname || 'CrowdSec Alert' }}\",\n      \"description\": \"{{ ($json.body.alerts || [{}])[0].annotations?.summary || 'CrowdSec alert resolved' }}\",\n      \"color\": 3066993,\n      \"fields\": [\n        {\n          \"name\": \"Severity\",\n          \"value\": \"{{ ($json.body.alerts || [{}])[0].labels?.severity || 'unknown' }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Resolved At\",\n          \"value\": \"{{ ($json.body.alerts || [{}])[0].endsAt || 'N/A' }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Details\",\n          \"value\": \"{{ (($json.body.alerts || [{}])[0].annotations?.description || 'Ban decision rate returned to normal').slice(0, 900) }}\",\n          \"inline\": false\n        }\n      ],\n      \"timestamp\": \"{{ ($json.body.alerts || [{}])[0].endsAt || new Date().toISOString() }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 450],
      "id": "cs-discord-resolved",
      "name": "Discord — CrowdSec Resolved"
    }
  ],
  "connections": {
    "CrowdSec Webhook": {
      "main": [
        [
          { "node": "Alert Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Alert Status": {
      "main": [
        [
          { "node": "Query OpenSearch Bans", "type": "main", "index": 0 }
        ],
        [
          { "node": "Discord — CrowdSec Resolved", "type": "main", "index": 0 }
        ],
        []
      ]
    },
    "Query OpenSearch Bans": {
      "main": [
        [
          { "node": "Enrich Alert Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Enrich Alert Data": {
      "main": [
        [
          { "node": "Discord — CrowdSec Firing", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
