n8n/grafana-alert-router.json
{
  "name": "Grafana SOAR — Alert Router",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "grafana-alerts",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "grafana-webhook",
      "name": "Grafana Webhook",
      "webhookId": "grafana-alerts"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "firing",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "firing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Firing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "resolved",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "resolved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Resolved"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        300,
        300
      ],
      "id": "alert-status",
      "name": "Alert Status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"<@YOUR_DISCORD_USER_ID>\",\n  \"embeds\": [\n    {\n      \"title\": \"🔥 FIRING — {{ ($json.body.alerts || [{}])[0].labels?.alertname || 'Grafana Alert' }}\",\n      \"description\": \"{{ ($json.body.alerts || [{}])[0].annotations?.summary || 'Alert condition is true' }}\",\n      \"color\": 15158332,\n      \"fields\": [\n        {\n          \"name\": \"Why Fired\",\n          \"value\": \"{{ ($json.body.alerts || [{}])[0].annotations?.trigger_logic || (($json.body.alerts || [{}])[0].annotations?.description || 'Threshold condition evaluated true.') }}\",\n          \"inline\": false\n        },\n        {\n          \"name\": \"Trigger Query / Threshold / Window\",\n          \"value\": \"Query: `{{ ($json.body.alerts || [{}])[0].annotations?.trigger_query || (($json.body.alerts || [{}])[0].labels?.detection_query || 'N/A') }}`\\nThreshold: `{{ ($json.body.alerts || [{}])[0].annotations?.trigger_threshold || (($json.body.alerts || [{}])[0].labels?.threshold || 'N/A') }}`\\nWindow: `{{ ($json.body.alerts || [{}])[0].annotations?.trigger_window || (($json.body.alerts || [{}])[0].labels?.window || 'N/A') }}`\",\n          \"inline\": false\n        },\n        {\n          \"name\": \"Observed Value(s)\",\n          \"value\": \"{{ (($json.body.alerts || [{}])[0].valueString || JSON.stringify(($json.body.alerts || [{}])[0].values || {})).slice(0, 900) || 'N/A' }}\",\n          \"inline\": false\n        },\n        {\n          \"name\": \"Affected Device / Host\",\n          \"value\": \"{{ ($json.body.alerts || [{}])[0].labels?.agent || ($json.body.alerts || [{}])[0].labels?.agent_name || ($json.body.alerts || [{}])[0].labels?.instance || ($json.body.alerts || [{}])[0].labels?.host || ($json.body.alerts || [{}])[0].labels?.device || 'N/A') }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Source / User / File\",\n          \"value\": \"srcip=`{{ ($json.body.alerts || [{}])[0].labels?.srcip || 'N/A' }}`\\nuser=`{{ ($json.body.alerts || [{}])[0].labels?.user || ($json.body.alerts || [{}])[0].labels?.username || 'N/A' }}`\\npath=`{{ ($json.body.alerts || [{}])[0].labels?.path || ($json.body.alerts || [{}])[0].labels?.file || 'N/A' }}`\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Severity / Source / Group\",\n          \"value\": \"sev=`{{ ($json.body.alerts || [{}])[0].labels?.severity || 'unknown' }}` src=`{{ ($json.body.alerts || [{}])[0].labels?.source || 'unknown' }}` group=`{{ ($json.body.alerts || [{}])[0].labels?.alert_group || 'N/A' }}`\",\n          \"inline\": false\n        },\n        {\n          \"name\": \"Starts At\",\n          \"value\": \"{{ ($json.body.alerts || [{}])[0].startsAt || 'N/A' }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Dashboard / Panel\",\n          \"value\": \"{{ ($json.body.alerts || [{}])[0].dashboardURL || 'N/A' }}\\n{{ ($json.body.alerts || [{}])[0].panelURL || '' }}\",\n          \"inline\": false\n        },\n        {\n          \"name\": \"Details\",\n          \"value\": \"{{ (($json.body.alerts || [{}])[0].annotations?.description || 'N/A').slice(0, 900) }}\",\n          \"inline\": false\n        }\n      ],\n      \"timestamp\": \"{{ ($json.body.alerts || [{}])[0].startsAt || new Date().toISOString() }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        200
      ],
      "id": "discord---firing",
      "name": "Discord — Firing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [\n    {\n      \"title\": \"✅ RESOLVED — {{ ($json.body.alerts || [{}])[0].labels?.alertname || 'Grafana Alert' }}\",\n      \"description\": \"{{ ($json.body.alerts || [{}])[0].annotations?.summary || 'Alert condition cleared' }}\",\n      \"color\": 3066993,\n      \"fields\": [\n        {\n          \"name\": \"Why Resolved\",\n          \"value\": \"{{ ($json.body.alerts || [{}])[0].annotations?.resolve_logic || 'Condition is no longer true in the current evaluation window (value <= threshold or prior events aged out).' }}\",\n          \"inline\": false\n        },\n        {\n          \"name\": \"Trigger Query / Threshold / Window\",\n          \"value\": \"Query: `{{ ($json.body.alerts || [{}])[0].annotations?.trigger_query || (($json.body.alerts || [{}])[0].labels?.detection_query || 'N/A') }}`\\nThreshold: `{{ ($json.body.alerts || [{}])[0].annotations?.trigger_threshold || (($json.body.alerts || [{}])[0].labels?.threshold || 'N/A') }}`\\nWindow: `{{ ($json.body.alerts || [{}])[0].annotations?.trigger_window || (($json.body.alerts || [{}])[0].labels?.window || 'N/A') }}`\",\n          \"inline\": false\n        },\n        {\n          \"name\": \"Current Value(s)\",\n          \"value\": \"{{ (($json.body.alerts || [{}])[0].valueString || JSON.stringify(($json.body.alerts || [{}])[0].values || {})).slice(0, 900) || 'N/A' }}\",\n          \"inline\": false\n        },\n        {\n          \"name\": \"Affected Device / Host\",\n          \"value\": \"{{ ($json.body.alerts || [{}])[0].labels?.agent || ($json.body.alerts || [{}])[0].labels?.agent_name || ($json.body.alerts || [{}])[0].labels?.instance || ($json.body.alerts || [{}])[0].labels?.host || ($json.body.alerts || [{}])[0].labels?.device || 'N/A') }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Incident Duration\",\n          \"value\": \"{{ (() => { const a = ($json.body.alerts || [{}])[0]; if (!a?.startsAt || !a?.endsAt) return 'N/A'; const ms = new Date(a.endsAt).getTime() - new Date(a.startsAt).getTime(); if (!Number.isFinite(ms) || ms < 0) return 'N/A'; const mins = Math.round(ms / 60000); return mins + ' minute(s)'; })() }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Resolved At\",\n          \"value\": \"{{ ($json.body.alerts || [{}])[0].endsAt || 'N/A' }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"Details\",\n          \"value\": \"{{ (($json.body.alerts || [{}])[0].annotations?.description || 'N/A').slice(0, 900) }}\",\n          \"inline\": false\n        }\n      ],\n      \"timestamp\": \"{{ ($json.body.alerts || [{}])[0].endsAt || new Date().toISOString() }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        400
      ],
      "id": "discord---resolved",
      "name": "Discord — Resolved"
    }
  ],
  "connections": {
    "Grafana Webhook": {
      "main": [
        [
          {
            "node": "Alert Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Status": {
      "main": [
        [
          {
            "node": "Discord — Firing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord — Resolved",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
