n8n/grafana-alert-router.json
{
  "updatedAt": "2026-03-10T02:01:39.000Z",
  "createdAt": "2026-03-08T01:41:23.474Z",
  "id": "YOUR_WORKFLOW_ID",
  "name": "Grafana SOAR — Alert Router",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "grafana-alerts",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "grafana-webhook",
      "name": "Grafana Webhook",
      "webhookId": "grafana-alerts"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "firing",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "firing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Firing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "resolved",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "resolved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Resolved"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        300,
        300
      ],
      "id": "alert-status",
      "name": "Alert Status"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "operation": "sendLegacy",
        "content": "",
        "embeds": {
          "values": [
            {
              "title": "=🔥 FIRING — {{ ($json.body.alerts || [{}])[0].labels?.alertname || 'Unknown Alert' }}",
              "description": "={{ ($json.body.alerts || [{}])[0].annotations?.summary || 'Alert condition is true' }}",
              "color": 15158332,
              "timestamp": "={{ ($json.body.alerts || [{}])[0].startsAt || new Date().toISOString() }}",
              "fields": [
                {
                  "name": "🏷️ Alert Name",
                  "value": "=`{{ ($json.body.alerts || [{}])[0].labels?.alertname || 'N/A' }}`",
                  "inline": true
                },
                {
                  "name": "⚠️ Severity",
                  "value": "={{ ($json.body.alerts || [{}])[0].labels?.severity || 'unknown' }}",
                  "inline": true
                },
                {
                  "name": "🖥️ Instance",
                  "value": "={{ ($json.body.alerts || [{}])[0].labels?.instance || ($json.body.alerts || [{}])[0].labels?.agent || 'N/A' }}",
                  "inline": true
                },
                {
                  "name": "📊 Observed Value",
                  "value": "=```{{ (($json.body.alerts || [{}])[0].valueString || 'N/A').slice(0, 200) }}```",
                  "inline": false
                },
                {
                  "name": "🔍 Why It Fired",
                  "value": "={{ ($json.body.alerts || [{}])[0].annotations?.trigger_logic || ($json.body.alerts || [{}])[0].annotations?.description || 'N/A' }}",
                  "inline": false
                },
                {
                  "name": "📐 Query",
                  "value": "=`{{ ($json.body.alerts || [{}])[0].annotations?.trigger_query || 'N/A' }}`",
                  "inline": true
                },
                {
                  "name": "📏 Threshold",
                  "value": "=`{{ ($json.body.alerts || [{}])[0].annotations?.threshold || 'N/A' }}`",
                  "inline": true
                },
                {
                  "name": "⏱️ Window",
                  "value": "={{ ($json.body.alerts || [{}])[0].annotations?.window || 'N/A' }}",
                  "inline": true
                },
                {
                  "name": "🌐 Source IP",
                  "value": "={{ ($json.body.alerts || [{}])[0].labels?.srcip || 'N/A' }}",
                  "inline": true
                },
                {
                  "name": "👤 Job / Exporter",
                  "value": "={{ ($json.body.alerts || [{}])[0].labels?.job || 'N/A' }}",
                  "inline": true
                },
                {
                  "name": "🕐 Started At",
                  "value": "={{ ($json.body.alerts || [{}])[0].startsAt || 'N/A' }}",
                  "inline": false
                },
                {
                  "name": "📋 Description",
                  "value": "={{ (($json.body.alerts || [{}])[0].annotations?.description || 'No description provided').slice(0, 800) }}",
                  "inline": false
                },
                {
                  "name": "🔗 Dashboard",
                  "value": "={{ ($json.body.alerts || [{}])[0].dashboardURL || 'N/A' }}",
                  "inline": false
                },
                {
                  "name": "🔗 Panel",
                  "value": "={{ ($json.body.alerts || [{}])[0].panelURL || ($json.body.alerts || [{}])[0].generatorURL || 'N/A' }}",
                  "inline": false
                },
                {
                  "name": "🔖 Fingerprint",
                  "value": "=`{{ ($json.body.alerts || [{}])[0].fingerprint || 'N/A' }}`",
                  "inline": true
                },
                {
                  "name": "📎 All Labels",
                  "value": "={{ Object.entries(($json.body.alerts || [{}])[0].labels || {}).map(([k,v]) => k + '=' + v).join(', ').slice(0, 500) || 'N/A' }}",
                  "inline": false
                }
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        600,
        200
      ],
      "id": "discord---firing",
      "name": "Discord — Firing",
      "credentials": {
        "discordWebhookApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Discord Webhook Alerts"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "operation": "sendLegacy",
        "content": "",
        "embeds": {
          "values": [
            {
              "title": "=✅ RESOLVED — {{ ($json.body.alerts || [{}])[0].labels?.alertname || 'Unknown Alert' }}",
              "description": "={{ ($json.body.alerts || [{}])[0].annotations?.summary || 'Alert condition cleared' }}",
              "color": 3066993,
              "timestamp": "={{ ($json.body.alerts || [{}])[0].endsAt || new Date().toISOString() }}",
              "fields": [
                {
                  "name": "🏷️ Alert Name",
                  "value": "=`{{ ($json.body.alerts || [{}])[0].labels?.alertname || 'N/A' }}`",
                  "inline": true
                },
                {
                  "name": "⚠️ Severity",
                  "value": "={{ ($json.body.alerts || [{}])[0].labels?.severity || 'unknown' }}",
                  "inline": true
                },
                {
                  "name": "🖥️ Instance",
                  "value": "={{ ($json.body.alerts || [{}])[0].labels?.instance || ($json.body.alerts || [{}])[0].labels?.agent || 'N/A' }}",
                  "inline": true
                },
                {
                  "name": "📊 Last Value",
                  "value": "=```{{ (($json.body.alerts || [{}])[0].valueString || 'N/A').slice(0, 200) }}```",
                  "inline": false
                },
                {
                  "name": "📐 Query / Threshold",
                  "value": "=Query: `{{ ($json.body.alerts || [{}])[0].annotations?.trigger_query || 'N/A' }}` Threshold: `{{ ($json.body.alerts || [{}])[0].annotations?.threshold || 'N/A' }}`",
                  "inline": false
                },
                {
                  "name": "⏱️ Duration",
                  "value": "={{ (() => { const a = ($json.body.alerts || [{}])[0]; if (!a.startsAt || !a.endsAt) return 'N/A'; const ms = new Date(a.endsAt) - new Date(a.startsAt); const m = Math.floor(ms/60000); const s = Math.floor((ms%60000)/1000); return (m > 0 ? m + 'm ' : '') + s + 's'; })() }}",
                  "inline": true
                },
                {
                  "name": "🕐 Fired At",
                  "value": "={{ ($json.body.alerts || [{}])[0].startsAt || 'N/A' }}",
                  "inline": true
                },
                {
                  "name": "🕐 Resolved At",
                  "value": "={{ ($json.body.alerts || [{}])[0].endsAt || 'N/A' }}",
                  "inline": true
                },
                {
                  "name": "📋 Description",
                  "value": "={{ (($json.body.alerts || [{}])[0].annotations?.description || 'No description').slice(0, 600) }}",
                  "inline": false
                },
                {
                  "name": "🔗 Dashboard",
                  "value": "={{ ($json.body.alerts || [{}])[0].dashboardURL || 'N/A' }}",
                  "inline": false
                },
                {
                  "name": "🔖 Fingerprint",
                  "value": "=`{{ ($json.body.alerts || [{}])[0].fingerprint || 'N/A' }}`",
                  "inline": true
                }
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        600,
        400
      ],
      "id": "discord---resolved",
      "name": "Discord — Resolved",
      "credentials": {
        "discordWebhookApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Discord Webhook Alerts"
        }
      }
    }
  ],
  "connections": {
    "Grafana Webhook": {
      "main": [
        [
          {
            "node": "Alert Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Status": {
      "main": [
        [
          {
            "node": "Discord — Firing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord — Resolved",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "activeVersionId": "58a1b240-1062-4690-8737-0f207e5b9f54",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-08T01:41:23.484Z",
      "createdAt": "2026-03-08T01:41:23.484Z",
      "role": "workflow:owner",
      "workflowId": "dPkyi0TfVeAxoTIW",
      "projectId": "kafEMdKKgLswaGCu",
      "project": {
        "updatedAt": "2026-03-05T23:55:16.170Z",
        "createdAt": "2026-03-05T23:48:50.092Z",
        "id": "kafEMdKKgLswaGCu",
        "name": "Moshe Geek <chief@chiefgyk3d.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "850a1525-0d7b-4ff8-ae56-76e699c15b7c"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}